<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
	<footer id="footerContainer">
		<div id="footerWrap">
			<ul id="footerMenu">
				<li><a th:href="@{/map}"><img th:src="@{/images/footer_menu_02.png}" alt="map"></a></li>
				<li id="footerHomeItem"><a th:href="@{/main}"><img th:src="@{/images/footer_menu_03.png}" alt="home"></a></li>
				<li><a th:href="@{/setting}"><img th:src="@{/images/footer_menu_05.png}" alt="setting"></a></li>
			</ul>
			<a th:href="@{/invstmng/{exmnmngId}(exmnmngId=${exmnmngId})}" id="footerSurveyStart" class="is-key-button survey-start none">Survey Start</a>
		</div>
	</footer>
</th:block>

</html>