<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link th:href="@{/images/favicon-16x16.png}" rel="icon">
        <link th:href="@{/images/favicon-32x32.png}" rel="icon">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link th:href='@{https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css}' rel='stylesheet' />
        <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
        <script th:src="@{/js/jquery-ui.js}"></script>
        <script th:src="@{/js/jquery.ui.monthpicker.js}"></script>
        <script th:src="@{/js/index.global.min.js}"></script>
        <script th:src="@{/js/turf.min.js}"></script>
        <script th:src='@{https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js}'></script>
        <script th:src="@{/js/rda.href.js}"></script>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/validation.js}"></script>
        <script th:src="@{/js/rda.fullcalender.js}"></script>
        <script th:src="@{/js/rda.map.js}"></script>
        <script th:src="@{/js/rda.modal.js}"></script>
        <script th:src="@{/js/rda.chart.js}"></script>
        <script th:src="@{/js/rda.datepicker.js}"></script>
        <script th:src="@{/js/rda.survey.js}"></script>
        <script th:src="@{/js/rda.location.search.js}"></script>
        <script th:src="@{/js/rda.qusetsurvey.js}"></script>
        <title>RDA</title>
        
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
		<script type="text/javascript">
		    var __contextPath__ = $('#contextPathHolder').attr('data-contextPath');
		    if(isNull(__contextPath__)) __contextPath__ = '';  
		</script>
    </head>
</th:block>
</html>