<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<section id="sectionWrap">
			<div class="is-box notice-wrap" th:each="item : ${noticeList}">
				<a th:href="@{/notice/detail/{bbsId}(bbsId=${item.bbsId})}" class="notice-item">
					<span>
						<span class="notice-add-date" th:text="${@commonUtils.formatLocalDateTime(item.registDt, 'yyyy-MM-dd')}">2023-11-02</span>
						<span class="notice-add-date" th:text="${item.bbsTitle}">MCC 조사 일정 변동 안내</span>
					</span>
					<span>
						<img th:src="@{/images/intro_arrow.png}" alt="바로가기">
					</span>
				</a>
			</div>
		</section>
	</th:block>
</html>
