@charset 'UTF-8';

/* button */
.is-button {
	width:100%;
	padding:12px 16px;
	color:var(--white);
	border-radius:6px;
	background-color:#3271D1;
	text-align:center;
}
.is-button.is-color-white {
	background-color:var(--white);
	color:#3271D1;
}
.is-basic-button {
	padding:8px 12px;
	color:var(--white);
	border:none;
	border-radius:6px;
	background-color:#4b4b4b;
	cursor:pointer;
	outline:none;
}
.is-key-button {
	padding:8px 12px;
	color:var(--white);
	border:none;
	border-radius:8px;
	background-color:#3271D1;
	cursor:pointer;
	outline:none;
}
.is-secondary-button {
	padding:8px 12px;
	color:#8b8b8b;
	border:1px solid #8b8b8b;
	border-radius:6px;
	background-color:transparent;
	cursor:pointer;
	outline:none;
}
.is-primary-button {
	padding:8px 12px;
	color:var(--key-color);
	border:1px solid #3271D1;
	border-radius:6px;
	background-color:transparent;
	cursor:pointer;
	outline:none;
}
.is-fix-key-button {
	width: 100%;
	padding:14px 0;
	color:var(--white);
	background-color:var(--key-color);
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
}
/* common */
.rda-wrap {
    padding:42px;
}
main {

}
/* .body-mask.active{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:var(--black);
	opacity:0.5;
	z-index:9996;
} */
/* box */
.is-box {
    width: 100%;
    padding:16px;
    border-radius:6px;
    background-color:var(--white);
/*    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);*/
}
.box-title {
    font-weight: 600;
}

/* check */
.check-img {
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url('../images/survey_un_check.png');
    background-size:cover;
    vertical-align: middle;
    transition:0.1s;
    cursor: pointer;
}
.check-img-on {
    background-image:url('../images/survey_check.png');
}

/* input */
.is-input {
	margin-right:6px;
	padding:12px;
	font-size:14px;
	border:1px solid #d7d7d7;
	border-radius:6px;
	outline:none;
	font-weight: 200;
}
.is-input-reset {
	border:none;
	background-color:transparent;
	outline:none;
}
.div-input {
	display:inline-block;
	padding:12px;
	font-size:14px;
	border:1px solid #d7d7d7;
	border-radius:6px;
	outline:none;
	font-weight: 200;
}

.radio-custom {
	appearance: none;	
	display:inline-block !important;
	width: 12px;
	height: 12px;
	border: 1px solid var(--key-color);
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.radio-custom:checked {
	border: 3px solid white;
	background-color: var(--key-color);
	box-shadow: 0 0 0 1.6px var(--key-color);
}

/* header title */
.header-title {
    color:#333;
    font-size:22px; 
    font-weight:600;
}

/* map */
#mapContainer {
	position:relative;
	height:calc(100vh - 109px);
}
#map {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#mapControl {
	position:fixed;
	top:80px;
	right:10px;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	width: 36px;
}
#currentLocation {
	padding:6px;
	border-radius:30px;
	background-color:var(--white);
}
#currentLocation img {
	width:20px;
	display: block;
}
#zoomBox {
	border-radius:4px;
}
#zoomIn, #zoomOut {
	background-color: var(--white);
	text-align:center;
	width: 32px;
	height: 32px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#zoomIn img {
	width:11px;
	/* vertical-align:middle; */
}
#zoomOut img {
	width:11px;
	vertical-align:middle;
}
#mapGps {
	position:relative;
	width:100%;
	height:360px;
}
#mapGps #mapControl {
	top:110px;
	right:20px;
}

/* calendar */
.fc .fc-button-primary {
	background-color:transparent !important;
	border:none !important;
	color:var(--black) !important;
}
.fc .fc-button-primary:focus {
	box-shadow:unset !important;
}
.fc .fc-toolbar.fc-header-toolbar {
	margin-top:1.5em;
}
.fc-day-sat a{
	color:blue;
}
.fc-day-sun a{
	color:red;
}
.fc .fc-toolbar-title {
	font-size:24px !important;
}
.fc-event {
	pointer-events:none;
}
/* main */
#sectionWrap {
	min-height:calc(100vh - 83.2px);
    padding:24px;

}

.box-title-more {
	display:flex;
	justify-content: space-between;
	margin:24px 0 10px 0;
}
.more-title {
	display:flex;
	align-items:center;
	gap:8px;
	font-size:14px;
	font-weight:400;
	color:#a3a3a3;
}

/* arrow */
.more-icon {
  display: inline-block;
  width: 6px;
  height: 11px;
  background-image: url('../images/more_arrow.png'); 
  background-size: 100%;
  background-repeat:no-repeat;
  
}
.notice-more-icon {
	display: inline-block;
	width: 6px;
	height: 11px;
	background-image: url('../images/right_arrow.png'); 
	background-size: 100%;
	background-repeat:no-repeat;
}
/* select */
/* .select-list-box {
    padding:8px 26px 8px 12px;
    color:#757575;
    border:none;
    border-radius:8px;
    background:#ededed url('../images/select_arrow2.png') no-repeat 92% 50%;
    background-size:10px 7px;
    appearance:none;
    outline: none;
} */

/* .list-search-box .select-list-box {
	background:#ededed url('../images/join_select_arrow.png') no-repeat 90% 50%;
	background-size:10px 7px;	
} */
.select-date-box {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:8px;
}
.select-div-box {
	background:#fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    border:1px solid #d7d7d7;
}
.select-list-box {
   	width:100%;
	padding:12px;
    color:#757575;
    outline: none;
    appearance:none;
    background: none !important;
    border: none;
}
.select-arrow {
	position:absolute;
	top:50%;
	right:12px;
	width:10px;
	height:7px;
	transform:translateY(-50%);
}
.cm-bd-select-arrow {
	position: absolute;
    right: 12px;
    top: 16px;
    width: 11px;
}
.survey-item .select-list-box {
	width:100%;
/*	background:url('../images/select_arrow2.png') no-repeat 98% 50%;*/
/*	background-size:10px 7px;*/
}


/* scrollBar */
.scroll::-webkit-scrollbar {
	width:7px;
	height:7px;
}
.scroll::-webkit-scrollbar-thumb {
	width:10px;
	border-radius:10px;
	background-color:#f1f1f1;
}
.scroll::-webkit-scrollbar-track {
	background-color:var(--white) ;
}

/* datepicker */
#dateSetting {
	display:flex;
	align-items:center;
	margin-top:8px;
}
#dateButtonBox {
	width:120px;
}
#dayPicker, #monthPicker {
	width:calc(100% - 120px);
}
.input-date {
	position:relative;
}
.input-date:after {
	content:"";
	position:absolute;
	top:50%;
	right:8px;
	width:12px;
	height:12px;
	background-image: url('../images/input_date.png'); 
	background-size: 100%;
	background-repeat:no-repeat;
	transform:translateY(-50%);
	pointer-events:none;
}
.date-picker {
	padding:8px;
	color:var(--key-color);
	border:1px solid var(--key-color);
	border-radius:6px;
}
.ui-widget-header {
	border: 0px solid #dddddd;
	background: #fff;
}
.ui-datepicker-calendar>thead>tr>th {
	font-size: 14px !important;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px 0;
}
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	border: 0px solid #c5c5c5;
	background-color: transparent;
	font-weight: normal;
	color: #454545;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	padding: 0px;
	font-weight: bold;
}
.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px;
	padding-bottom: 10px;
	width: 300px;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
.ui-widget.ui-widget-content {
	border: 1px solid #eee;
}
#datepicker:focus>.ui-datepicker {
	display: block;
}
.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}
.ui-datepicker-next {
	float: right;
}
.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}
.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}
.ui-datepicker-calendar {
	width: 100%;
}
.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}
.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none;
}
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}
.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	width: 44px;
	height: 30px;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}
.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: transparent;
	opacity: 0.6;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
	.ui-button:hover, .ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-widget-header .ui-icon {
	background-image: url('../images/btns.png');
}
.ui-icon-circle-triangle-e {
	background-position: -20px 0px;
	background-size: 36px;
}
.ui-icon-circle-triangle-w {
	background-position: -0px -0px;
	background-size: 36px;
}
.ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: red !important;
}
.ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: #0099ff !important;
}
.ui-datepicker-calendar>thead>tr>th:first-child {
	color: red !important;
}
.ui-datepicker-calendar>thead>tr>th:last-child {
	color: #0099ff !important;
}
#ui-monthpicker-div .ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: var(--black) !important;
}
#ui-monthpicker-div .ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: var(--black) !important;
}
#ui-monthpicker-div .ui-datepicker-calendar>thead>tr>th:first-child {
	color: var(--black) !important;
}
#ui-monthpicker-div .ui-datepicker-calendar>thead>tr>th:last-child {
	color: var(--black) !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 0px;
	background: #f1f1f1;
	border-radius: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0px;
}
.inp:focus {
	outline: none;
	background-color: #eee;
}
.ui-datepicker-calendar .ui-state-active {
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 50%;
  	background-color: var(--key-color) !important;
}
#ui-monthpicker-div .ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 0px;
	background: #f1f1f1;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#ui-monthpicker-div .ui-datepicker-calendar .ui-state-active {
	border-radius: 10px;
}

/* table */
#listTableContainer, .list-table-container {
	margin-bottom:36px;
}
#listTable th, #listTable td, .list-table th, .list-table td {
	position:relative;
	padding:14px 0;
	text-align:center;
}
#listTable th, .list-table th{
	color:var(--white);
	background-color:var(--key-color);
}
#listTable td, .list-table td{
	font-weight:500;
	border-bottom:1px solid #bebebe;
}
.table-link:hover {
	cursor:pointer;
}
.table-link:hover td {
	background-color:#ededed;
}

/* chart custom */
.chart {
    width:50%;
    margin: 16px auto 0 auto;
}
.chart-box {
    position:relative;
}
.percent {
	position:absolute;
	top:50%;
	left:50%;
	font-size:24px;
	transform:translate(-50%, -50%);
}
.units-box {
	display:flex;
	justify-content:center;
	margin-top:8px;
}
/*에러페이지*/
#errorContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#errorWrap {
	display: flex;
	flex-direction:column;
	gap:10px;
	text-align: center;
}
#errorContainer > div {
	width:100%;
}
#errorBtn button {
	display: inline-flex;
	margin-top: 20px;
	padding: 20px;
	color: #fff;
	border-radius:6px;
	background: var(--key-color);
}
.cm-select-wd {
	width: 100%;
}
#btnFooterWrap {
	width: 100%;
	position: fixed;
	bottom: 0;
}
.modal-find-img {
	position: absolute;
    top: 11px;
    right: 8px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.cm-find-img {
	width: 20px;
}
.logout-img {
	width: 15px;
	display: block;
}
.st-img {
	width: 6px;
	display: block;
}
/* validation */
.validation {
	border:1px solid var(--key-color);
}

/* loading Start */
#loadingContainer {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:9999;
}

#loadingWrap {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#loadingCircle,
#loadingCircle div,
#loadingCirclediv:after {
  box-sizing: border-box;
}
#loadingCircle {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#loadingCircle div {
	color: var(--white);
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
#loadingCircle div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17px;
  border-radius: 20%;
  background: currentColor;
}
#loadingCircle div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
#loadingCircle div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
#loadingCircle div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
#loadingCircle div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
#loadingCircle div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
#loadingCircle div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
#loadingCircle div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
#loadingCircle div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
#loadingCircle div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
#loadingCircle div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
#loadingCircle div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
#loadingCircle div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* loading End */
