@charset "UTF-8";

#footerContainer {
	position:fixed;
	bottom:0;
	width:100%;
	background-color:var(--white);
	box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.08);
	transition: 0.5s;
}
#footerContainer.on {
	bottom:-60px;
}
#footerWrap {
	position:relative;
}
#footerMenu {
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding:15px;
	flex-wrap:wrap;
}
#footerMenu li {
	width: 25%;
}
#footerMenu a, #footerMenu button {
	display:block;
	text-align: center;
}

#footerMenu a img, #footerMenu button img {
	width:24px;
	filter:invert(162%) sepia(10%) saturate(200%)     hue-rotate(184deg) brightness(3000%) contrast(0%);
}
.survey-start {
	position:absolute;
	top:50%;
	left:52%;
	border-radius:40px;
	text-align:center;
	transform:translate(-50%, -50%);	
} 
.ft-menu-title {
	display: none;
	font-size: 12px;
}
.ft-btn.on img {
	filter: invert(26%) sepia(14%) saturate(3054%)
     hue-rotate(185deg) brightness(155%) contrast(100%) !important;
}
.ft-btn.on .ft-menu-title {
	color: var(--key-color);
}
@media screen and (min-width: 768px) {
	#footerMenu {
		justify-content:space-around;
	}
}