@charset 'UTF-8';
#loginContainer {
	width: 100%;
	height: 100vh;
	background-color: var(--white);
}
#loginContainerSub {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 40px;
	width: 100%;
}
#loginTitle {
	text-align: center;
}
#loginConWrap {
	margin-top: 20px;
}
#loginCon {
	text-align: center;
}
.login-con-list {
	margin-bottom: 16px;
}
.login-text-con {
	margin-bottom:45px ;
}
.login-logo {
	width:60px ;
}
.login-title-text {
	font-size:20px;
	font-weight: 400;
	color: #3271D1;
}
.login-about-text {
	margin-top: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
}
#loginCopyRight {
	margin-top: 100px;
    width: 100%;
    text-align: center;
    color: #BFBFBF;
    font-size: 12px;
}
#login-logo-box {
    margin-top:76px;
    text-align: center;
}
#login-logo img{
    width:81px;
    height:78px;
}
#login-title {
    margin-top:22px;
    font-size:20px;
    font-weight: 600;
    color:#333;
}
#login-content-box {
    margin-top:50px;
}
.login-input-box {
    margin-bottom:16px;
}
.login-input-title {
    display:block;
    margin-bottom:8px;
    font-weight: 600;
    color:#333;
}
.login-input {
    width: 100%;
    padding:16px;
    border:1px solid #999;
    border-radius:10px;
    outline: none;
}
.login-input::placeholder {
    font-weight: 300;
    color:var(--gray);
}
.error-message {
	margin:8px 0;
    color:var(--danger);
    font-size:14px;
    font-weight: 500;
    display: none;
}
#loginCheckBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display:block;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border:1.5px solid var(--key-color);
    background: var(--white);
    outline: 0;
    cursor: pointer;
}
#loginCheckBox::after {
    content: '';
    display: none;
    position: relative;
    left: 18%;
    top: 11%;
    height: 60%;
    width: 60%;
    border: solid var(--key-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
#loginCheckBox:checked {
    background: var(--white);
}
#loginCheckBox:checked::after {
    display: block;
}
.login-check-txt {
    color:var(--gray);
    font-size:12px;
    font-weight: 400;
}
#loginButtonBox {
    margin:0;
}
.login-button {
	display:block;
    width:100%;
    padding:16px 0;
    color:var(--white);
    border-radius:10px;
    background-color:#3271D1;
    text-align:center;
    outline:none;
    border:none;
    font-weight: 400;
    font-size: 16px;
}
#backButton {
    margin-top:16px;
    color:var(--gray);
    background-color: #f2f2f2;
}
#loginCode {
    text-align: center;
}
#loginCode a {
	color:var(--key-color);
}
.login-check-txt:hover {
	color:var(--key-color);
}
.login-result {
	margin-top:8px;
	color:#666;
}
.cm-select-box {
	position: relative;
	min-width: 65px;
	border: 1px solid #dce2e9;
	border-radius: 8px;
	overflow: hidden;
}
.cm-table-select {
	padding: 8px;
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	width: 100%;
	font-weight: 300;
}
.cm-select-img {
	width: 10px;
    position: absolute;
    right: 7px;
    top: 14px;
}
#langSave {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
}
.lang-check {
	width: 100% !important;
	background-position-x: 89% !important;
	background:none !important;
}

/* tablet */
@media screen and (min-width: 768px) {
	.join-responsive {
		display:flex;
		gap:16px;
	}
	.join-responsive .login-input-box {
		width:50%;
	}
	.join-responsive #backButton {
		margin-top:0;
	}
}