@charset 'UTF-8';
/*뉴 디자인 경의중앙선 css 시작*/
#mainBg {
	background:var(--key-color) ;
	width: 100%;
	height: 230px;
	position: absolute;
	top: 0;
	z-index: -1111;
	border-radius: 0 0 25px 25px;
}
#mainLogo {
	width: 100px;
}
#mainHeaderWrap {
	margin-bottom:30px ;
}
#mainSection {
	padding: 30px;
}
#mainAboutText {
	margin-bottom: 26px;
	color: #fff;
	font-size:18px;
	font-weight: 400;
	line-height: 25px;
}
.main-box {
	background: #fff;
	border-radius: 10px;
/*	box-shadow: 0px 1px 5px 0px rgba(223, 228, 244, 1);*/
}
.main-con {
	margin-bottom: 20px;
}
.main-con-title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom:5px;
}
.lc-list {
	padding: 22px;
	margin-bottom:12px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.lc-title {
	display: flex;
	gap: 8px;
	align-items: center;
}
.lc_img {
	width: 14px;
}
.lc-detail span {
	font-weight: 300;
	 color: #787878;
}
.main-search-wrap {
    display: flex;
    flex-wrap: wrap;
    gap:12px;
}
.main-search-list {
	padding: 20px;
	display: flex;
	width: 100%;
	gap: 20px;
	align-items: center;
}
.main-search-list-title {
	font-size:14px;
	font-weight: 400;
	color: var(--key-color);
}
.main-search-list-sub {
	font-size: 14px;
    font-weight: 300;
    color: #787878;
    line-height: 22px;
    margin-top: 2px;
}
.main_search_icon {
	width: 36px;
}
/*.main-search-list dt {*/
/*	padding-left: 10px;*/
/*	position: relative;*/
/*	font-weight: 500;*/
/*}*/
/*.main-search-list dt::before {*/
/*	content: '';*/
/*	width: 4px;*/
/*	height: 4px;*/
/*	background: #3066D0;*/
/*	border-radius: 20px;*/
/*	position: absolute;*/
/*	top: 9px;*/
/*	left: 0;*/
/*}*/
/*.main-search-list dd {*/
/*	font-weight: 400;*/
/*}*/
#mainAlarmHead {
	margin-top:20px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#mainAlarmHead .main-con-title {
	margin:0;
}
.main-alarm-btn {
	display: flex;
	gap: 4px;
	align-items: center;
}
.main-alarm-list {
	padding:20px;
	width: 100%;
}
.main-alarm-list-title {
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: 400;
	color: var(--key-color);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#mainAlarmListWrap {
	overflow-x:auto;
}
#mainNoAlarm {
	text-align:center;
}
#mainAlarmListWrapSub {
	padding: 3px 3px 20px 3px;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
.main-alarm-list-con {
	margin-bottom: 12px;
	font-weight: 300;
	color: #787878;
	line-height: 15px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-alarm-list-date {
	color: #a8a8a8;
	font-weight: 200;
}
/*뉴 디자인 경의중앙선 css 끝*/
#headerWrap {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    padding:16px 0;
    background: #fff;
}
#headerLogo {
    display:inline-block;
    width:26px;
    height:26px;
}
#headerLogo img {
    width:100%;
    height: 100%;
}
.box-title-more.surverDetail {
	margin:0;
	margin-bottom:10px;
}
#userBox {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#userBox {
	background:#4484FF;
	font-size:14px;
}
#userBox ul li span {
	color: #fff;
}
#surveyTitle {
    font-size:18px;
    font-weight: 600;
}
.surveyor-box {
	max-height:216px;
	overflow-y:auto;
}
.surveyor-list {
	display:flex;
    flex-wrap: wrap;
    padding:6px 0;
    font-size:14px;
    border-bottom:1px solid var(--gray);
}
.surveyor-name-box {
	width:100%;
}
.surveyor-name-box > span {
	font-weight:600;
}
.surveyor-list:nth-child(1){
	padding: 0 0 6px 0;
}
#mobileBox {
	display:flex;
}
.od-box {
	padding:26px 0;
	margin-right:14px;
	text-align:center;
}
.od-box:nth-child(3) {
	margin-right:0;
}
.od-day {
	margin-bottom:10px;
	font-weight:600;
}
.od-total {
	font-weight:500;
	color:var(--key-color);
}
#tabletBox {
	display:none;
}
#tcDate {
	margin-bottom:16px;
	font-weight:500;
	color:var(--key-color);
}
.tcTiemWrap {
 	/* display:flex;
	flex-wrap: wrap;
	gap:6px;
	width:100%; */
	width:100%;
	padding-bottom:16px;
	overflow-x:auto;
	white-space: nowrap;
}
.tc-time-box {
	display:inline-block;
	width:60px;
	margin-right:6px;
	padding:12px;
	font-size:14px;
	border:1px solid #e9e9e9;
	border-radius:5px;
	text-align:center;
}
.tc-time-box:nth-last-child(1){
	margin-right:0;
}
.tc-time {
	margin-bottom:10px;
}
.tc-check {
	width:22px;
	height:22px;
	margin: 0 auto;	
}
#functionBox {
	display:flex;
	flex-wrap:wrap;
	gap:14px;
}
.function-box {
	display:block;
	width:100px;
	text-align:center;
}
.function-box span{
	display:block;
}
.function-title {
	font-size:14px;
}
#tcDataOff {
	text-align:center;
}


#ui-datepicker-div {
	left:50% !important;
	transform:translateX(-50%);
}

/* setting */
.setting-box {
	display:flex;
	justify-content:space-between;
	align-items: center;
}
#logOut {
	margin-top:16px;

}
.report-list {
	margin-bottom:8px;
}
.report-list:nth-last-child(1) {
	margin-bottom:0;
}
/* notice */
.notice-box {
	margin-bottom:16px;
	border-bottom:1px solid #e8e8e8;
}
.notice-box:last-child {
	margin-bottom:0;
	border:none;
}
.notice-item {
	display:flex;
	align-items:center;
	justify-content: space-between;
	font-size:14px;
}
/* .notice-type {
	padding:3px 12px;
	font-size:14px;
	color:var(--key-color);
	border:1px solid var(--key-color);
	border-radius:10px;
} */
#noticeCmTitle {
	font-weight: 500;
	font-size: 16px;
}
.notice-cm-con {
	font-weight: 300;
}
.notice-txt {
	display:block;
	width:80%;
	margin-right:16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.notice-date {
	margin:6px 0;
	font-size:14px;
	color:#cfcfcf;
}
.notice-box:last-child .notice-date {
	margin:6px 0 0 0;
}
.notice-wrap {
	margin-bottom:16px;
}
.notice-add-date {
	display:block;
	font-size:14px;
	font-weight: 300;
}
.notice-item span img {
	width: 6px;
}
/*알림없으떄*/
.cm-no-list {
	padding:10px 60px 50px 60px;
	text-align: center;
	width: 100%;
}
.no-cm-icon {
	width: 27px;
}
.cm-no-list-text {
	text-align: center;
	font-size: 14px;
	color: #CECECE;
	font-weight: 300;
}
.main-search-info-list {
	display: flex;
	gap: 6px;
	flex-wrap: wrap;
}
.main-search-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.main-search-cm {
	display: flex;
	align-items: center;
	gap: 6px;
}
.search-name > div {
	width: 100%;
}
.main-search-info-name span {
	font-weight: 300;
}
.ans-info-name span {
	color: #14b763;
	font-weight: 300;
}
.search-date-wrap span {
	font-weight: 300;
}
.main-search-cm-img {
	width: 14px;
	margin-right: 2px;
}
.main-search-check {
	width: 24px;
}
.searchist-list-wrap {
	flex-wrap: wrap;
}
#mainSelectBox {
	background:#fff;
	margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#mainSearchListWrap {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
#noSearch {
	
}
.searchist-list-wrap {
	width: 100%;
}
.cm-select-arrow {
	position: absolute;
    right: 17px;
    top: 24px;
    width: 15px;
}
#mainSelect {
	padding: 22px;
	width: 100%;
	appearance: none;
	border: none;
    outline: none;
    color: var(--key-color);
    font-weight: 300;
}
/* main footer */
/* #mainFooter {
	color:var(--white);
	background-color:#353535;
}
#mainFooterWrap {
	padding:48px 24px;
}
#mainFooterLogoBox {
	display:flex;
	align-items:center;
	gap:8px;
}
#mainFooterLogoBox > div {
	font-size:18px;
}
#mainFooterLogo {
	width:48px;
	height:48px;
}
#mainFooterLogo img {
	width:100%;
	height:100%;
}
#relevantSite {
	margin: 8px 0;
}
#siteWrap {
    position: relative;
    width: 200px;
}
#siteLabel {
    display: block;
    width:100%;
    padding: 0 16px;
    line-height: 40px;
    font-size:14px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    color:var(--white);
}
#siteLabel:after {
    content: '';
    float: right;
    display: block;
    margin-top: 13px;
    border: 5px solid transparent;
    border-bottom-color: #fff;
}
#siteWrap.active #siteLabel:after {
	margin-top:18px;
	transform:rotate(-180deg);
}
#siteItem {
    position: absolute;
    left: 0;
    bottom: 44px;
    width: 100%;
    height: 0;
    border-radius: 5px;
    background-color: #888;
    line-height: 2;
    font-size: 14px;
    overflow: hidden;
    transition: 0.5s;
}
#siteWrap.active #siteItem{
    height: 144px;
    padding: 16px 0;
}
#siteItem  a, #siteItem  span {
    display: block;
    color:var(--white);
}
#siteItem  a {
    padding-left: 16px;
}
#siteItem  span {
    padding-left: 16px;
    color: var(--white);
} */

/* tablet */
@media screen and (min-width: 768px) {
	#headerWrap {
		justify-content:unset;
		padding:24px 0;
		margin-left:32px;
		border:none;
	}
	#functionBox .is-box {
		padding:30px;
	}
	.function-box {
		width:150px;
	}
	.function-box img {
		width:30px;
		height:30px;
	}
	.box-title {
		font-size:22px;
	}
	.function-title {
		font-size:16px;
	} 
	#ui-datepicker-div {
		left:160px !important;
		transform:none;
	}
	.surveyor-list {
		gap:4px;
	}
	.surveyor-name-box {
		width:unset;
	}
	
	/* main footer */
	#mainFooterLogoSiteInner {
		display:flex;
		justify-content:space-between;
	}
	#mainFooterAddress {
		display:flex;
		flex-wrap:wrap;
		column-gap:8px;
	}	
}