@charset 'UTF-8';
/* modal common */
#modal-background {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:var(--black);
	opacity:0.5;
	z-index:9998;
}
#modal-wrap {
    position: fixed;
    top:50%;
    left:50%;
    min-width:80%;
    max-width:90%;
    border-radius:8px;
    background-color:var(--white);
    transform: translate(-50%, -50%);
    overflow:hidden;
    z-index: 9999;
}
.tablet #modal-wrap {
	min-width:60%;
}
#modal-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 16px;
    border-radius: 8px 8px 0 0;
    background-color:var(--key-color);
}
#modal-title {
    font-size: 16px;
    font-weight: 700;
    color:var(--white);
}
#modal-body {
	padding:16px;
}
#modal-footer {
	display:flex;
	justify-content:center;
	gap:8px;
	padding:0 16px 16px 16px;
}
#alert-img {
	width:32px;
	height:32px;
	margin:16px auto;
}
#alert-img img {
	width:100%;
	height:100%;
}
#modal-txt {
	font-size:14px;
    text-align: center;
}
.is-button.footer-one-button {
	width:100%;
	margin-top:16px;
	border-radius:0;
}

#modalTable {
	border-top:1px solid var(--black);
	border-bottom:1px solid var(--black);
}
#modalTable th {
	padding:18px;
	font-weight:600;
	border-bottom:1px solid #d3d3d3;
	background-color:#f2f2f2;
}
#modalTable td {
	padding:18px;
	font-weight:400;
	border-bottom:1px solid #d3d3d3;
}
#modalTable tr:last-child th, #modalTable tr:last-child td {
	border:none;
}
#modalTable input[type="text"] {
	width:220px;
	font-size:14px;
	border:none;
	outline:none;
}
#modalTable input:placeholder {
	font-size:14px;
}
#modalTable .select-list-box {
	width:100%;
	padding-left:0;
	font-size:14px;
	background-color:var(--white);
	background-position:100% 50%;
}

.modal-table {
	margin-top:8px;
}
.modal-table th {
	padding:8px;
	color:var(--white);
	border-bottom:1px solid #ededed;
	background-color:var(--key-color);
}
.modal-table td {
	padding:8px;
	border-bottom:1px solid #ededed;
	text-align:center;
}

/* modal common end  */
#successImg {
	width:30px;
	height:30px;
	margin:0 auto;
}
#successImg img {
	width:100%;
	height:100%;
}
#successTitle {
	margin: 20px 0;
	font-size:20px;
	text-align:center;
}
#successTxt {
	padding:20px;
	color:var(--key-color);
	font-weight:600;
	border:1px solid #ddd;
	text-align:center;
}
#successPwTxt {
	color:var(--key-color);
	font-weight:600;
	text-align:center;
}
.modal-select-button {
	text-align:left;
	margin-bottom:16px;
}
.investigato-title-box {
	display:flex;
	justify-content:space-between;
}
.investigato-title {
	position:relative;
	margin-bottom:24px;
}
.investigato-title:before {
	position:absolute;
	left:0;
	bottom:-6px;
	width:30px;
	height:2px;
	background-color:var(--black);
	content:'';
}
.investigato-title-box .table-arrow {
	transform:rotate(-90deg);
}
.modal-link-selectbox .is-key-button:hover {
	opacity:0.9;
}
.modal-input-text {
	margin-left:0;
}


/* quest */
#selectInvstContainer {
	margin-bottom:34px;
	text-align:left;
}
#selectInvstWrap {
	margin-top:16px;
	padding:16px;
	border:1px solid #d3d3d3;
}
.select-name {
	list-style: disc;
	list-style-position:inside;
}
.select-name li {
	position:relative;
	display:inline-block;
	margin-left:32px;
}
.select-name li:nth-child(1) {
	margin-left:16px;	
}
.select-name li:before {
	content:"";
	position:absolute;
	left:-16px;
	top:50%;
	width:6px;
	height:6px;
	border-radius:100%;
	background-color:var(--key-color);
	transform:translateY(-50%);
}
.invst-img {
	display:inline-block;
	width:11px;
	margin-left:6px;
	cursor:pointer;
}
.invst-img img {
	width:100%;
}
.modal-date-box {
	min-width:800px;
	margin-top:16px;
}
.modal-date-box:nth-child(1){
	margin-top:0;
}
.modal-date-title {
	position:relative;
	font-weight:600;
	text-align:left;
}
.modal-title-line {
	display:inline-block;
	width:5px;
	height:16px;
	margin-right:6px;
	border-radius:10px;
	background-color:var(--key-color);
}
.modal-survey-content {
	margin-top:4px;
	margin-left:10px;
}
.modal-add-button-box {
	margin:8px 0 36px 0; 
}
.modal-toggle-box {
	margin-bottom:16px;
	text-align:left;
}
.bulk-wrap {
	margin-bottom:16px;
}
.bulk-txt-box {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:8px;
	border:1px solid #d3d3d3;
}
.bulk-txt {
	text-align:left;
}
.bulk-txt strong {
	font-weight:600;
}
.file-box {
	margin-top:16px;
	text-align:left;
}
.file-box input[type="text"] {
	margin-left:0;
}
.location-scroll {
	max-height:310px;
	overflow-y:auto;
}
#modalTable td {
	text-align:left;
}

/* MCC */
#surveyCountingUpdateBox {
	display:flex;
	align-items:center;
	justify-content:center;
}
#surveyCountingUpdateBox > div {
	width:24px;
	height:24px;
}
#surveyCountingUpdateBox > div img {
	width:100%;
	height:100%;
}
#modalCountingInput {
	width:90px;
	margin:24px 16px;
	font-size:24px;
	font-weight:600;
	text-align:center;
}

/* survey common */
.modal-survey-search-box {
	display:flex;
	align-items:center;
}
.modal-survey-search-box > .is-input {
	flex:1;
}
#modal-txt input[type="radio"] {
	display:inline-block;
}