<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<section id="sectionWrap">
			<div class="is-box">
				<div class="report-list">Email : admin@email.com</div>
				<div class="report-list">Tel : 023-456-7891</div>
				<div class="report-list">Address : Sri Lanka, Colombo RDA</div>
			</div>		
		</section>
	</th:block>
</html>
<script>
	document.querySelector('.ft-setting').classList.add('on');
</script>