<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<section id="sectionWrap">
			<div class="is-box">
				<a th:href="@{/setting/report/inquiry}" class="setting-box"><span>신고 문의</span><span><img th:src="@{/images/intro_arrow.png}" alt="바로가기"></span></a>			
			</div>
			<div id="logOut">
				<a href="#" id="sideLogOut">
					<span><img src="/images/logout.png" alt="로그아웃"></span>
					<span>로그아웃</span>
				</a>
			</div>			
		</section>
	</th:block>
</html>
