<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<section id="surveyWrap">
        	<div id="tcSurveyHistoryWrap" class="is-box">
				<div>
					<a th:href="@{/tc/mcc/history}" class="is-basic-button">MCC</a>
					<a th:href="@{/tc/tm/history}" class="is-basic-button">TM</a>
					<a th:href="@{/tc/axelload/history}" class="is-key-button">AXLELOAD</a>
				</div>
		    	<div id="dateSettingWrap" class="is-box">
		    		<div>날짜설정</div>
		    		<div id="dateSetting">
			    		<div id="dateButtonBox">
			    			<input type="button" id="dayPickerButton" class="is-basic-button is-key-button" value="일별">
			    			<input type="button" id="monthpickerButton" class="is-basic-button" value="월별">
			    		</div>
			    		<div id="dayPicker" class="input-date"><input type="text" class="date-picker startPicker wd100" readonly/></div>
			    		<div id="monthPicker" class="input-date none"><input type="text" class="date-picker monthPicker wd100" readonly/></div>
		    		</div>
		    	</div>
            	<div class="is-box">
            		<div class="tcTiemWrap scroll">
		            	<div class="tc-time-box">
		            		<div class="tc-time">01:00</div>
							<div class="tc-check"><img th:src="@{/images/un_check.png}" alt="check"></div>
		            	</div>
		            	<div class="tc-time-box">
		            		<div class="tc-time">02:00</div>
							<div class="tc-check"><img th:src="@{/images/check.png}" alt="check"></div>
		            	</div>
		            	<div class="tc-time-box">
		            		<div class="tc-time">03:00</div>
							<div class="tc-check"><img th:src="@{/images/un_check.png}" alt="check"></div>
		            	</div>
		            	<div class="tc-time-box">
		            		<div class="tc-time">04:00</div>
							<div class="tc-check"><img th:src="@{/images/check.png}" alt="check"></div>
		            	</div>
		            	<div class="tc-time-box">
		            		<div class="tc-time">05:00</div>
							<div class="tc-check"><img th:src="@{/images/un_check.png}" alt="check"></div>
		            	</div>
		            	<div class="tc-time-box">
		            		<div class="tc-time">06:00</div>
							<div class="tc-check"><img th:src="@{/images/check.png}" alt="check"></div>
		            	</div>
		            	<div class="tc-time-box">
		            		<div class="tc-time">07:00</div>
							<div class="tc-check"><img th:src="@{/images/un_check.png}" alt="check"></div>
		            	</div>
        			</div>
        		</div>
        		<div class="is-box">
        			<div class="tc-survey-history-text">
        				<div>조사 근무 시간</div>
        				<div>06:00 ~ 18:00</div>
        			</div>
        			<div class="tc-survey-history-text">
        				<div>조사 근무 형태</div>
        				<div>1시간 단위 15분 조사</div>
        			</div>
        			<div class="tc-survey-history-text">
        				<div>총 조사 횟수</div>
        				<div>12번</div>
        			</div>
        			<div class="tc-survey-history-text">
        				<div>조사 완료</div>
        				<div>8번</div>
        			</div>
        			<div class="tc-survey-history-text">
        				<div>조사 미완료</div>
        				<div>4번</div>
        			</div>
        		</div>
        	</div>
		</section>
	</th:block>
</html>
<script>
	dateToggleButton();
</script>
