<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<section id="surveyWrap">
			<th:block th:each="item,status : ${exmnMngSrvyList}">
				<div th:classappend="${status.index > 0} ? 'mt16' : ''" class="survy-question-wrap">
					<div class="is-box">
						<h2 class="survey-question-title" th:text="|${item.sectSqno}.${item.sectTitle}|" th:data-sect-type="${item.sectType.getCode()}"></h2>
						<div class="survey-question-description" th:text="${item.sectSubtitle}"></div>
					</div>
					<th:block th:each="qstnItem : ${item.tmSrvyQstnList}">
			  			<div class="is-box survey-info-wrap">
							<h3 class="survey-sub-question-title" th:text="|Q${qstnItem.qstnSqno}.${qstnItem.qstnTitle}|" th:data-qstn-title="${qstnItem.qstnTitle}" th:data-qstn-type="${qstnItem.qstnTypeCd.getCode()}" th:data-qstn-sqno="${qstnItem.qstnSqno}"></h3>
							<!-- 주관식 -->
							<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC001'}">
								<div class="survey-ans-wrap"><input type="text" name="ansCnts" class="is-input wd100 qtc001"/></div>
							</th:block>
							<!-- 라디오 or 체크박스 -->
							<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC002' or qstnItem.qstnTypeCd.getCode() eq 'QTC003'}">
								<ul class="survey-question-option-box survey-ans-wrap">
									<th:block th:each="ansItem,ansStatus : ${qstnItem.tmSrvyAnsList}">
										<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC002'}">
											<li>
												<label>
													<input type="radio" name="ansCnts" class="radio-checked" th:checked="${ansStatus.index eq 0}">
													<i class="check-img" th:classappend="${ansStatus.index eq 0}? 'check-img-on'" th:data-ans-cnts="${ansItem.ansCnts}"></i>
													<span th:text="${ansItem.ansCnts}"></span>
												</label>
											</li>
										</th:block>
										<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC003'}">
											<li>
												<label>
													<input type="checkbox" name="ansCnts" class="checkbox-checked">
													<i class="check-img" th:data-ans-cnts="${ansItem.ansCnts}"></i>
													<span class="survey-span-direct" th:text="${ansItem.ansCnts}"></span>
												</label>
											</li>
										</th:block>
									</th:block>
								</ul>
							</th:block>	
							<!-- 시간 타입 -->
							<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC004'}">	
								<div class="select-time-box">
									<select class="select-list-box select-hour"></select>
									<select class="select-list-box select-minute"></select>
								</div>
							</th:block>
							<!-- 주소 타입 -->	
							<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC005'}">	
								<div class="survey-location-box">
									<input type="text" class="div-input wd100 locationSave qtc005" name="ansCnts" placeholder="위치를 검색해주세요." readonly/>
									<input type="button" class="is-key-button" onclick="locationSave(this);" value="찾기"/>
								</div>
							</th:block>
							<!-- 셀렉트박스 -->
							<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC006'}">
								<select class="select-list-box wd100 scroll" name="ansCnts">
									<th:block th:each="ansItem : ${qstnItem.tmSrvyAnsList}">
										<option th:value="${ansItem.ansCnts}" th:text="${ansItem.ansCnts}"></option>
									</th:block>	
								</select>
							</th:block>
							<!-- 날짜 -->
							<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC007'}">
								<div class="survey-ans-wrap"><input type="text" class="startPicker is-input wd100 qtc007" name="ansCnts" placeholder="날짜를 선택해주세요."/></div>
							</th:block>
						</div>
					<th:block>	
				</div>
			</th:block>
		</section>
	</th:block>
</html>

<script th:inline="javascript">
	
	const headerNextButton = document.getElementById('headerNextButton');
	headerNextButton.classList.remove('none');
	headerNextButton.innerText = '확인';
	const srvyrsltId =  /*[[${srvyrsltId}]]*/ 
	headerNextButton.setAttribute('onclick', "invstQuestionSave(\'"+srvyrsltId+"'\)");
	/* 
	const transferAdd = document.querySelector('.transferAddButton');
	const transferCheckBox = document.querySelector('.transferCheckBox');
	const transferWrap = document.querySelector('.transfer-add-wrap');
	
	if(trasnferAdd) {
		transferAdd.addEventListener('change', () => {
			const transferButtonChecked = transferCheckBox.checked;
			if(transferButtonChecked === true){
				TransferSurvey();
				transferWrap.classList.add('none');
			}
		})
	} */
	
</script>