<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<section id="sectionWrap">
			<div id="countWrap">
				<div class="count-flex-box">
					<th:block th:each="item : ${mvmnmeanTypeCd}">
						<div class="is-box box-counting">
							<div class="counting-item">
								<span th:text="${item.name}">MCL</span>
								<input type="text" class="is-input-reset counting-value" name="countingInfo" th:data-type="${item}" value="0" readonly/>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</section>
		<div id="fiveMinutesAgoBox">
			<div id="fiveMinutesFlexBox">
				<span id="fiveMinutesImg"><img th:src="@{/images/time.png}" alt="TIME"></span>
				<div>
					<div>저장 <span id="fiveTime">5분전</span> 입니다.</div>
					<div>곧 <span id="fiveStartTime"></span>분 ~ <span id="fiveEndTime"></span>분 조사 개수가 저장 됩니다.</div>
				</div>
			</div>  
		</div>
	</th:block>
</html>
<script th:inline="javascript">
	suryerCounting('/invstmng/counting/update');
	const headerNextButton = document.getElementById('headerNextButton');
	headerNextButton.classList.remove('none');
	headerNextButton.innerText = '확인';
	
	//5분알림
	fiveMinutesAgo();
	
	//00,15,30,45분 데이터 저장
	const trfvlmexmnId =  /*[[${trfvlmexmnId}]]*/ 
	headerNextButton.setAttribute('onclick', "invstCountingSave(\'"+trfvlmexmnId+"'\)");
	saveTrafficCounting(trfvlmexmnId);
	
</script>