<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div class="is-box">
			<div class="infoTableWrap">
				<table class="infoTable">
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tr>
						<th th:text="#{common.table.subject}">제목</th>
						<td>
							<div th:text="${tlBbsInfo.bbsTitle}"></div>
						</td>
						<th th:text="#{common.table.class}">분류</th>
						<td>
							<div th:text="${tlBbsInfo.bbsType}"></div>
						</td>
					</tr>
					<tr>
						<th th:text="#{common.table.registDate}">작성일</th>
						<td>
							<div th:text="${@commonUtils.formatLocalDateTime(tlBbsInfo.registDt, 'yyyy-MM-dd')}"></div>
						</td>
						<th th:text="#{common.table.writer}">작성자</th>
						<td>
							<div th:text="${tlBbsInfo.registId}"></div>
						</td>
					</tr>
					<tr>
						<th th:text="#{board.file}">첨부파일</th>
						<td>
							<div th:each="item, status : ${tlBbsFile}">
								<span th:text="${item.orgFilenm}"></span>
								<!-- 						<button type="button" -->
								<!-- 							th:onclick="deleteFileData([[${item.fileId}]], [[${tlBbsInfo.bbsId}]])">X</button> -->
								<!-- 									<button type="button" th:onclick="download([[${item.fileId}]])">다운로드(테스트)</button> -->
							</div>
							<div id="fileList"></div>
						</td>
						<th th:text="#{common.table.writer}">노출 여부</th>
						<td>
							<div class="select-div-box">
								<div th:text="${tlBbsInfo.dspyYn}"></div>
								<!-- 					<select class="select-list-box modal-select" name="dspyYn"> -->
								<!-- 						<option value="Y" th:text="#{common.option.dspyYn.y}">노출</option> -->
								<!-- 						<option value="N" th:text="#{common.option.dspyYn.n}">미노출</option> -->
								<!-- 					</select> -->
							</div>
						</td>
					</tr>
					<tr>
						<th th:text="#{common.table.content}">내용</th>
						<td colspan="3">
							<textarea class="modal-textarea validation-tag" name="bbsCnts" th:text="${tlBbsInfo.bbsCnts}"
					th:placeholder="#{common.search.placeholder.content}" readonly></textarea>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="surveyMapContainer" class="directionNone">
			<div id="map"></div>
	    	<div id="mapControl">
		    	<div id="currentLocation"><img th:src="@{/images/current_location.png}" alt="현재위치"/></div>
		    	<div id="zoomBox">
			    	<div id="zoomIn"><img th:src="@{/images/zoom_in.png}" alt="확대"/></div>
			    	<div id="zoomOut"><img th:src="@{/images/zoom_out.png}" alt="축소"/></div>
		    	</div>
	    	</div>				
		</div>
		<div id="surveyContent">
			<div class="content-wrap">
				<div id="top-line"></div>
				<div id="surveyInner">
					<div>
						<div class="survey-location">조사위치</div>
						<div>스리랑카 OO지역 OO도로 동쪽 -> 서쪽 방향</div>
					</div>
					<div class="mt8">
						<button type="button" id="locationSaveButton" class="is-key-button wd100">조사위치등록</button>
						<input type="button" id="locationChangeButton" class="is-key-button wd100 none" value="조사위치변경"/>
						<div id="locationChangeBox" class="none">
							<input type="text" id="locationChangeText" class="is-input"  placeholder="위치 변경 사유를 입력해주세요."/>
							<button type="button" id="locationChangeSaveButton" class="is-key-button">변경</button>												
						</div>
					</div>
					<div class="is-box mt24">
						<div class="survey-item">
							<div class="survey-title">조사일시</div>
							<div class="survey-text"><span>2023.11.02 06:00 ~ 18:00</span></div>
						</div>
						<div class="survey-item">
							<div class="survey-title">근무형태</div>
							<div class="survey-text">1인 1조 1시간 단위 15분 근무</div>
						</div>
						<div class="survey-item">
							<div class="survey-title">날씨</div>
							<div class="survey-text">
								<label class="survey-weather is-secondary-button is-primary-button" for="weatherSunny"><input type="radio" id="weatherSunny" value="sunny" name="weatherButton" checked/>맑음</label>
								<label class="survey-weather is-secondary-button" for="weatherCloud"><input type="radio" id="weatherCloud" value="cloud" name="weatherButton"/>흐림</label>
								<label class="survey-weather is-secondary-button" for="weatherRain"><input type="radio" id="weatherRain" value="rain" name="weatherButton"/>비</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</th:block>
</html>
<script>
	document.querySelector('.ft-invst').classList.add('on');
	surveyMap(126.9423889029348, 37.54162975284942, 100);
</script>
